#myGrid div .ag-header-cell{
  background-color: #b9e21c;
  color: black;
}
#myGrid .ag-header-icon .ag-header-cell-menu-button{
  color: black;
  opacity: 10 !important;
  transition: none  !important;
}
